@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* HERO */
.hero-updc{
  background-image: url("/Assets/UPDC/Hero-BG.png");
  background-size: cover;
  background-position: top;
  height: 480px;
  padding: 100px 0 100px 0 !important;
}

/* Timeline */
.card-timeline{
  border: 0 !important;
  --bs-card-border-color:none;
}

.timeline{
  background-image: url("/Assets/UPDC/Timeline.png");
  background-size: cover;
  background-position: bottom;
  height: 450px;
}

.timeline-container{
  width: 248px;
  background-color: #FFF;
  padding: 32px 8px 8px 8px;
  box-shadow: 0 11px 15px rgba(0, 0, 0, 0.1);
}

.box{
  /* width: 232px; */
  padding: 20px;
  height: 186px;
  background-color: #EEF7FF;
  border: 0 !important;
} 

ul{
  padding-left: 24px;
}

.slick-slide{
  padding-left: 0 !important;
}

/* .card{
  --bs-card-border-color:none;
} */

/* Hadiah */

.juara-2{
  background-color: #FFFAEB;
  height: 400px;
  padding: 30px 30px 66px 30px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  /* margin-top: 122px; */
  border-bottom: solid 4px #FFB929;
}

.juara-1{
  background-color: #FFB929;
  padding: 30px 30px 160px 30px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom: solid 4px #FFB929;
}

.juara-3{
  background-color: #FFFAEB;
  height: auto;
  padding: 30px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  /* margin-top: 222px; */
  border-bottom: solid 4px #FFB929;
}

/* UPDC */

.header-updc {
  background-image: url("/Assets/UPDC/UPDC.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.ketentuan {
  padding: 50px;
  border: solid 1px #e7e7e7;
  border-left: 0;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.card{
  --bs-card-border-radius:16px;
}

.title-ketentuan{
  height: 100%;
  border-right: solid 1px #E0E0E0;
}

@media (max-width: 767px) {
 
  .timeline {
    height: 280px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 20px !important;
  }

  .timeline-container {
    padding-top: 50px;
  }

  .slick-list {
    padding: 0 !important;
  }
  
  .slick-slide {
    padding: 0px 12px 32px 12px;
  }

  .slick-slider{
    margin-top: 120px;
  }

  /* Hadiah & Benefit */
  .juara-2, 
  .juara-3{
    margin-top: 0;
  }

  .juara-2{
    border: 0;
    height: auto;
  }

  .juara-1{
    margin-top: -24px !important;
  }

  .juara-3{
    margin-top: -24px;
    height: auto;
  }

  .header-updc{
    background-image: url("/Assets/UPDC/UPDC-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 0;
    border-top-right-radius: 24px;
  }

  .ketentuan{
    border: solid 1px #e7e7e7;
    border-top: 0;
    padding: 54px 16px 16px 16px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .title-ketentuan{
    height: 100%;
    width: 100%;
    border-right: 0;
    border-bottom: solid 1px #E0E0E0;
  }


  /* FOOTER */
  .row-footer{
    margin: 36px 20px 36px 20px !important;
  }

  /* COPYRIGHT */
  .copyright{
    padding: 24px 24px 24px 24px !important;
  }

}


