@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

 /* Font Size */
 .fs-xs {font-size: 10px;}
 .fs-sm {font-size: 12px;}
 .fs-md {font-size: 14px;}
 .fs-lg {font-size: 16px;}
 .fs-xl {font-size: 20px;}
 .fs-2xl {font-size: 24px;}
 
 /* Font Weight */
 .fw-100 {font-weight: 100;}
 .fw-300 {font-weight: 300;}
 .fw-400 {font-weight: 400;}
 .fw-500 {font-weight: 500;}
  .fw-600 {font-weight: 600;}
 .fw-700 {font-weight: 700;}
 .fw-900 {font-weight: 900;}

/* Text Color */
.text-main {color: #FFB929;}
.text-blue {color: #4DA2FF;}
.text-pink {color: #FF4DA2;}
.text-grey {color: #888;}

 /* Radius */
.radius-4 {border-radius: 4px;}
.radius-6 {border-radius: 6px;}
.radius-8 {border-radius: 8px;}
.radius-10 {border-radius: 10px;}
.radius-12 {border-radius: 12px;}
.radius-16 {border-radius: 16px;}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 80px !important;
} */

body {
  background: var(--background);
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #0A0A0A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar,
.navbar-brand,
.navbar-nav,
.nav-link,
.btn {
  font-family: 'Outfit', sans-serif !important;
}

/* NAVBAR */
.glass-navbar {
  background: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(3px);
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.nav-link.active{
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
}

.nav-link{
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  color: #777777;
}

.btn-hero{
  background-color: #FFB929;
  padding: 12px 24px !important;
}

.btn-cta{
  padding: 12px 24px !important;
}

.btn-navbar {
  width: fit-content;
  transition: all 0.3s ease;
}

.btn-navbar:hover {
  background-color: #ffb929 !important;
  color: black !important;
  border-color: #ffb929 !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(255, 185, 41, 0.3);
}

.curved-underline {
  position: relative;
  display: inline-block;
}

.curved-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -36px;
  transform: translateX(-50%);
  width: 100%;
  height: 40px;
  border-radius: 50%; /* ujung bulat maksimal */
  border-top: 4px solid currentColor;
}

.whatsapp-fab {
  /* position: fixed; */
  bottom: 100px;
  right: 30px;
  z-index: 99;
}

.fab-icon {
  height: 72px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.fab-icon:hover {
  transform: scale(1.1);
}
.fab-label {
  background: #fff;
  color: #333;
  padding: 10px 16px;
  border-radius: 8px;
  border: solid 1px #E4E4E4;
  line-height: 150%;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); */
}

.fab-label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 27px;
  bottom: 80px;
  background-color: #fff;
  transform: rotate(45deg);
  border-right: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
}
