@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.btn-main{
  background: #FFB929;
}

.btn-main:hover{
  border: solid 1px #FFB929;
  color: #ffb929;
  background: transparent;
}

/* HERO */
.hero-revamp{
  background-image: url("../../../public/Assets/Revamp/Hero-Section-Alt-3.png");
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
}

.btn-main-hero{
  margin-top: 40px !important;
  background: #FFB929;
}

.btn-main-hero:hover{
  background: white;
}

/* CAROUSEL TAG */

.tag-carousel-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 24px 0;
}

.tag-carousel-track {
  display: flex;
  width: max-content;
  gap: 32px;
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* .tag-carousel-item {
  flex-shrink: 0;
} */

.tag-pill {
  border-radius: 999px;
  white-space: nowrap;
}

.tag-icon {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

/* BENEFIT */

.benefit-wrapper{
  margin-top: 100px;
}

.heading-benefit-container{
  margin-bottom: 40px;
}

.heading-benefit-1{
  font-size: 32px;
}

.heading-benefit-2{
  font-size: 24px;
  padding: 0 32px;
  border-left: solid 1px #E7E7E7;
  border-right: solid 1px #e7e7e7;
}

.heading-benefit-3{
  width: 25%;
}

.bg-blue {
  background-size: cover;
  background-image: url('../../../public/Assets/Revamp/BG-Blue.png');
  background-position: center;
  border-radius: 8px; 
}

.bg-pink {
  background-size: cover;
  background-image: url('../../../public/Assets/Revamp/BG-Pink.png');
  background-position: center;
  border-radius: 8px;
}

.card-heading{
  margin-bottom: 32px;
}

.card-body-benefit{
  padding: 27px 32px;
}

.card-heading-benefit{
  font-size: 32px;
}

/* CTA Count Proof */

.count-proof{
  margin-top: 100px;
}

.CTA-CountProof {
  background-size: cover;
  background-image: url('../../../public/Assets/Revamp/Count Proof.png');
  background-position: center;
  border-radius: 16px;
  padding: 50px 32px;
}

.countproof-heading{
  font-size: 40px;
  margin-bottom: 60px;
}

.countproof-metrics-2{
  padding: 0 24px;
  border-left: solid 4px #F99307;
  border-right: solid 4px #F99307;
}

.countproof-metrics-heading{
  font-size: 40px;
}

/* SPEAKER */

.speaker-heading{
  font-size: 32px;
}

.speaker-card {
  width: fit-content;
  cursor: pointer;
}

.speaker-image {
  background: linear-gradient(to top,rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
  width: fit-content;
  transition: all 0.35s ease;
  border-radius: 24px;
  overflow: hidden;
  height: auto;
}

.speaker-card:hover .speaker-image {
  background: #ffb800;
}

.speaker-name{
  font-size: 32px;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.speaker-image::before,
.speaker-image::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.35s ease;
  z-index: 5;
}

.speaker-image::before {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.4);
  top: -44px;
  right: -52px;
}

.speaker-image::after {
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.4);
  top: -50px;
  right: 0px;
}

.speaker-card:hover .speaker-image::before,
.speaker-card:hover .speaker-image::after {
  opacity: 1;
}

.speaker-card:hover .speaker-info {
  background: #fffaeb;
  border: 1px solid #e0e0e0;
}

.linkedin-speaker{
  background-color: #1F67F1;
  width: fit-content;
  padding: 3px 5px;
  border: solid 3px #FFB929;
}

.speaker-card:hover .linkedin-speaker {
  border: solid 3px #ff0000;
}

/* SCHEDULE */

.heading-schedule{
  font-size: 32px;
}

.schedule-wrapper {
  height: 580px;
  position: relative;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.schedule-wrapper.expanded {
  min-height: 800px;
}

.schedule-breakdown-heading{
  font-size: 24px;
}

.btn-main-schedule{
  background: #ffb929;
}

.btn-outline-warning:hover{
  background: none;
  color: #FFB929;
}

/* CTA UPDC */
.CTA-UPDC {
  background-size: cover;
  background-image: url('../../../public/Assets/Revamp/CTA PDF.png');
  background-position: center;
  border-radius: 16px;
  height: 330px;
  margin: 100px 0;
}

.heading-CTA-UPDC{
  font-size: 40px;
}

/* PRICING */

  .pricing{
    margin: 100px 0;
  }

  .heading-price{
    font-size: 32px;
  }

  .tab-price{
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .tab-price-active{
    background: #FFB929 !important;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .card-price-individu,
  .card-price-group{
    height: 100%;
  }

  .btn-price{
    background-color: #FFB929;
    padding: 12px 24px !important;
  }

  .btn-price:hover {
    background-color: #fff !important;
    color: #ffb929 !important;
    border-color: #ffb929 !important;
    /* background-color: #FFB929 !important; */
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(255, 185, 41, 0.3);
  }

/* Ornament Carousel */

.section-ornament-carousel{
  margin: 150px 0 100px 0;
}

.infinite-track {
  width: max-content;
  animation: marquee 22s linear infinite;
}

.infinite-row {
  display: flex;
}

.infinite-item {
  gap: 12px;
  white-space: nowrap;
  font-size: 20px;
  color: #7a2e0e;
}

/* GALLERY */
.gallery{
  background-size: cover;
  background-image: url('../../../public/Assets/Revamp/BG-Testimoni.png');
  background-position: center;
  height: 1440px;
}

/* Testimoni */

.section-testimoni{
  padding: 0 100px;
}

.highlight-heading-container{
  padding: 0 100px;
}

.heading-testimoni{
  font-size: 32px;
}

.card-testimonial{
  min-height: 372px;
  min-width: 0 !important;
}

.slick-slide{
  padding-right: 24px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* HIGHLIGHT SLIDER */
.highlight-heading{
  font-size: 32px;
}

.highlights-section {
  min-height: 600px;
}

.circular-gallery {
  width: 100%;
  height: 400px;
  /* overflow: hidden; */
  cursor: grab;
  display: flex;
  justify-content: center;
  margin-top: -48px;
}

.circular-gallery:active {
  cursor: grabbing;
}

/* .card-root{
  overflow: visible;
} */

.circular-gallery {
  width: 100%;
  height: 400px;
  overflow: hidden;
  cursor: grab;
  display: flex;
  justify-content: center;
  margin-top: -48px;
}

.circular-gallery:active {
  cursor: grabbing;
}

.card-image-wrapper {
  position: relative;
  width: 325px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 12px;
  /* margin-top: 12px; */
}

.blue-clip {
  width: 30px;
  height: 50px;
  background-color: #4A90E2;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 2px;
}

.blue-clip::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  transform: translateX(-50%);
  opacity: 0.9;
}


/* PARTNER CAROUSEL */
/* .section-partner-carousel{
  margin-top: -50px;
} */

.logo-carousel-wrapper {
  overflow: hidden;
  position: relative;
}

.logo-carousel-track {
  display: flex;
  width: max-content;
}

.logo-carousel-item {
  flex: 0 0 auto;
  width: 184px;
  height: 100px;
  padding: 18px;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.scroll-left {
  animation-name: scrollLeft;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.speed-1 {
  animation-duration: 30s;
}
.speed-2 {
  animation-duration: 30s;
}
.speed-3 {
  animation-duration: 40s;
}

/* FAQ */

.contact-us{
  background-image: url("../../../public/Assets/Revamp/BG-contact.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 556px;
}

.contact-heading{
  font-size: 24px;
}

.btn-contact-us{
  font-size: 16px;
}

.faq-heading{
  font-size: 32px;
}

.accordion-faq{
  padding-left: 90px;
}

.accordion-button{
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  --bs-accordion-active-bg: white;
}

.accordion-collapse.show .accordion-body {
  background-color: #FFFAEB !important;
}

.accordion-button:focus {
  box-shadow: none;
}

/* FOOTER */
footer{
  padding: 50px 100px;
  border-top: solid 3px #E7E7E7;
}

/* COPYRIGHT */
.copyright{
  padding: 20px 100px 20px 100px;
}

@media (min-width: 768px) and (max-width:1000px){

  /* .slick-dots {
    padding-top: 60px !important;
  } */

  /* HERO */
  .hero-revamp{
    background-image: url("../../../public/Assets/Revamp/Hero-Section-Alt-3-Mobile.png");
    min-height: 1500px;
    background-position: center;
  }

  .hero-content{
    padding-left: 70px !important;
    padding-right: 70px !important;
    /* margin-bottom: 100px; */
  }

  .title-second-row{
    margin-top: 16px !important;
  }


  .title-hero{
    font-size: 48px !important;
  }

  .image-beyond, .image-worldwide{
    width: 300px !important;
    height: 110px !important;
  }

  .desc-hero{
    margin-top: 16px !important;
  }

  .btn-main{
    font-size: 24px;
    margin-bottom: 100px !important;
  }

  /* BENEFIT */

  .heading-benefit-container{
    margin-bottom: 24px;
  }

  .heading-benefit-1{
    font-size: 28px;
  }

  .subheading-benefit-1{
    font-size: 24px;
    padding: 0 12px;
  }

  .heading-benefit-3{
    width: 100%;
    margin-top: 16px !important;
  }

  .heading-benefit-2{
    font-size: 28px !important;
    padding: 16px 100px !important;
    margin: 16px 0 !important;
    border-top: solid 1px #E7E7E7;
    border-bottom: solid 1px #e7e7e7;
    border-left: 0;
    border-right: 0;
  }

  .card-benefit{
    margin-top: 40px !important;
  }

  .card-heading-benefit{
    font-size: 28px !important;
  }

  /* SPEAKER */
  .speaker-heading{
    font-size: 28px;
  }

  /* SCHEDULE */

  .heading-schedule{
    font-size: 28px !important;
  }

  .schedule-wrapper {
    min-height: 800px;
  }

  .schedule-wrapper.expanded {
    min-height: 1600px;
  }

  /* PRICING */
  .heading-price{
    font-size: 28px;
  }

  .subheading-price{
    font-size: 20px;
  }

  .tab-price, .tab-price-active{
    font-size: 20px;
  }

  .tab-price{
    padding: 16px 0;
  }

  .card-price-container{
    margin-top: 40px;
  }

  .card-price-individu, .card-price-group{
    padding: 32px 32px 0 32px !important;
  }

  /* TESTIMONI */
  .section-testimoni{
    padding: 0 24px !important;
  }

  .heading-testimoni{
    font-size: 28px;
  }

  .slick-track{
    display: flex !important;
  }

  .slick-slide{
    /* margin-right: 200px; */
    padding-right: 24px;
  }

  .card-testimonial{
    min-height: 443px !important;
    width: 100%;
    margin-right: 40px !important;
  }

  /* HIGHLIGHT */
  .highlight-heading{
    font-size: 28px;
  }

  /* FAQ */

  .contact-us{
    background-image: url("../../../public/Assets/Revamp/BG-contact.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 900px;
    padding: 80px 60px !important;
  }

  .contact-heading{
    font-size: 32px;
  }

  .contact-subheading{
    font-size: 20px;
  }

  .accordion-faq{
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
  }

  .faq-heading{
    font-size: 28px !important;
  }

  .accordion-button, .accordion-body{
    font-size: 18px;
  }

  /* FOOTER */
  footer{
    padding: 50px;
  }

  /* COPYRIGHT */
  .copyright{
    padding: 24px !important;
  }
}

/* MOBILE */
@media (max-width: 767px) {

  /* HERO */
  .hero-revamp{
    background-image: url("../../../public/Assets/Revamp/Hero-Section-Alt-3-Mobile.png");
    height: 840px;
    background-position: center;
  }

  .hero-content{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .title-second-row{
    margin-top: 0 !important;
  }

  .title-hero{
    font-size: 32px !important;
  }

  .image-beyond, .image-worldwide{
    width: 120px !important;
    height: 48px !important;
  }

  .desc-hero{
    font-size: 14px;
  }

  /* BENEFIT */
  .section-benefit{
    padding: 32px 20px !important;
  }

  .benefit-wrapper{
    margin-top: 0px;
  }

  .heading-benefit-1{
    font-size: 24px;
  }

  .heading-benefit-2{
    padding: 0;
    margin: 16px 0 !important;
    border-top: solid 1px #E7E7E7;
    border-bottom: solid 1px #e7e7e7;
    border-left: 0;
    border-right: 0;
  }

  .heading-benefit-3{
    width: 100%;
  }

  .card-benefit{
    margin-bottom: 32px;
  }

  .bg-blue {
    background-size: cover;
    background-image: url('../../../public/Assets/Revamp/BG-Blue-Mobile.png');
    background-position: top;
    height: auto;
    border-radius: 8px; 
  }

  .bg-pink {
    background-size: cover;
    background-image: url('../../../public/Assets/Revamp/BG-Pink-Mobile.png');
    background-position: center;
    border-radius: 8px;
  }

  .card-heading{
    margin-bottom: 24px;
  }

  .card-body-benefit{
    padding: 16px;
  }

  .card-heading-benefit{
    font-size: 20px;
  }
  
  /* CTA Count Proof */

  .count-proof{
    margin: 50px 0;
  }

  .CTA-CountProof {
    background-size: cover;
    background-image: url('../../../public/Assets/Revamp/Count Proof - Mobile.png');
    background-position: top;
    border-radius: 16px;
    padding: 32px 16px;
  }

  .countproof-heading{
    font-size: 24px;
    margin-bottom: 32px;
  }

  .countproof-metrics-2{
    padding: 24px 0;
    border-top: solid 4px #F99307;
    border-bottom: solid 4px #F99307;
    border-left: 0;
    border-right: 0;
  }

  .countproof-metrics-heading{
    font-size: 40px;
  }

  /* Speaker */
  .section-speaker{
    margin-bottom: 50px !important;
  }

  .img-speaker{
    width: 280px;
  }

  .slick-slide{
    width: fit-content !important;
    margin-right: 32px;
  }

  /* Schedule */

  .union{
    width: 600px;
    height: 100px;
  }

  .heading-schedule{
    font-size: 24px;
  }

  .schedule-wrapper {
    height: 640px;
  }

  .schedule-wrapper.expanded {
    min-height: 2340px;
  }

  .schedule-breakdown-heading{
    font-size: 20px;
  }

  /* CTA UPDC */
  .CTA-UPDC {
    background-size: cover;
    background-image: url('../../../public/Assets/Revamp/CTA-PDF-Mobile.png');
    background-position: center;
    border-radius: 16px;
    height: 320px;
    margin: 50px 0;
  }

  .heading-CTA-UPDC{
    font-size: 24px;
  }

  .CTA-UPDC-container{
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* PRICING */

  .pricing{
    margin: 50px 0;
  }

  .card-price-individu,
  .card-price-group{
    height: auto !important;
    padding: 24px 16px !important;
  }

  .card-content{
    width: 100% !important;
  }

  .price{
    border-right: none;
  }

  .individu-price,
  .group-price{
    width: 100%;
    border-right: none !important;
    border-bottom: solid 1px #dee2e6;
  }

  .tag-price{
    width:90px;
    height: 50px;
    left: 4px !important;
  }

  .btn-price{
    width: 100% !important;
  }

  /* GALLERY */
  .gallery{
    padding: 0 12px;
  }

  /* TESTIMONI */
  .section-testimoni{
    padding: 0;
  }

  .slick-track{
    display: flex !important;
  }

  .card-testimonial{
    min-height: 395px !important;
    min-width: 420px !important;
  }

  /* HIGHLIGHT SLIDER */
  .highlight-heading-container{
    padding: 0 12px;
  }

  .highlight-heading{
    font-size: 24px;
  }

  /* Mobile Circular Gallery */

  .hanger-slide {
    padding-top: 10px;
    margin-left: 8px;
  }
  
  .rope {
    top: -16px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 1;
  }

  .slider-wrapper{
    z-index: 2;
  }

  .hanger-wrapper{
    margin-top: 20px;
  }

  .blue-clip-mobile {
    top: -10px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 36px;
    height: 56px;
    background: #4DA2FF;
    border: solid 1px #1F67F1;
    z-index: 3;
  }

  .blue-clip-mobile span {
    margin-top: 8px;
    width: 14px;
    height: 14px;
  }

  .hanger-card {
    margin-top: 36px;
    max-width: 410px;
    min-height: 374px;
    border-radius: 24px;
    z-index: 2;
    padding-bottom: 32px;
  }

  .title-card-highlight{
    font-size: 24px;
  }

  .slick-dots {
    bottom: -40px !important;
  }

  .slick-dots ul{
    padding-right: 0 !important;
  }

  /* PARTNER CAROUSEL */
  .section-partner-carousel{
    margin-top: 120px;
  }

  /* FAQ */

  .faq-section{
    margin: 50px 0 !important;
  }

  /* .contact-us{
    background-image: url("../../../public/Assets/Revamp/BG-contact.png");
    background-size: cover;
    min-height: 455px;
  } */

  .faq-heading{
    font-size: 24px;
  }

  .accordion-faq{
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
  }

    /* FOOTER */
  footer {
  padding: 36px 20px;
  } 

  /* COPYRIGHT */
  .copyright{
    padding: 24px 24px 24px 24px !important;
  }

  .text-momen{
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

}