.payment-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 11.5px 0;
  border-bottom: solid 1px #dee2e6;
  background: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(3px);
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
  .btn-back {
    border: 2px solid #FFB929;
    color: #FFB929;
    background-color: #FFFFFF;
  }
}
.payment-frame {
  height: 1600px;
}